.contenuti-concorsi-card {
  margin: 30px 15px !important;
}

@media screen and (max-width: 990px) {
  .contenuti-concorsi-card {
    margin: 25px -10px !important;
  }
}

.contenuti-concorsi-card-home {
  margin: 25px 5px !important;
}

@media screen and (max-width: 990px) {
  .contenuti-concorsi-card-home {
    margin: 25px 0px !important;
  }
}

.contenuti-concorsi-card, .contenuti-concorsi-card-home {
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px gray;
  /* contenuti-concorsi-card-body-pica */
}

.contenuti-concorsi-card .tileTitle, .contenuti-concorsi-card .contenuti-concorsi-card-head, .contenuti-concorsi-card-home .tileTitle, .contenuti-concorsi-card-home .contenuti-concorsi-card-head {
  background-color: #016BBD;
  border-radius: 10px 10px 0 0;
  color: white;
  padding: 10px;
}

.contenuti-concorsi-card .tileTitle .ico-box-concorso, .contenuti-concorsi-card .tileTitle h4, .contenuti-concorsi-card .contenuti-concorsi-card-head .ico-box-concorso, .contenuti-concorsi-card .contenuti-concorsi-card-head h4, .contenuti-concorsi-card-home .tileTitle .ico-box-concorso, .contenuti-concorsi-card-home .tileTitle h4, .contenuti-concorsi-card-home .contenuti-concorsi-card-head .ico-box-concorso, .contenuti-concorsi-card-home .contenuti-concorsi-card-head h4 {
  display: inline;
}

.contenuti-concorsi-card .tileTitle .title-box-concorso, .contenuti-concorsi-card .contenuti-concorsi-card-head .title-box-concorso, .contenuti-concorsi-card-home .tileTitle .title-box-concorso, .contenuti-concorsi-card-home .contenuti-concorsi-card-head .title-box-concorso {
  margin-top: 7px;
  padding-left: 10px;
}

@media screen and (max-width: 999px) {
  .contenuti-concorsi-card .tileTitle .ico-box-concorso, .contenuti-concorsi-card .contenuti-concorsi-card-head .ico-box-concorso, .contenuti-concorsi-card-home .tileTitle .ico-box-concorso, .contenuti-concorsi-card-home .contenuti-concorsi-card-head .ico-box-concorso {
    display: none !important;
  }
  .contenuti-concorsi-card .tileTitle .ico-box-concorso:before, .contenuti-concorsi-card .contenuti-concorsi-card-head .ico-box-concorso:before, .contenuti-concorsi-card-home .tileTitle .ico-box-concorso:before, .contenuti-concorsi-card-home .contenuti-concorsi-card-head .ico-box-concorso:before {
    content: none !important;
  }
  .contenuti-concorsi-card .tileTitle .title-box-concorso, .contenuti-concorsi-card .contenuti-concorsi-card-head .title-box-concorso, .contenuti-concorsi-card-home .tileTitle .title-box-concorso, .contenuti-concorsi-card-home .contenuti-concorsi-card-head .title-box-concorso {
    margin-top: 0px;
    padding-left: 0px;
  }
  .contenuti-concorsi-card .tileTitle .title-box-concorso:before, .contenuti-concorsi-card .contenuti-concorsi-card-head .title-box-concorso:before, .contenuti-concorsi-card-home .tileTitle .title-box-concorso:before, .contenuti-concorsi-card-home .contenuti-concorsi-card-head .title-box-concorso:before {
    display: inline-block;
    content: "";
    margin-right: 5px;
  }
  .contenuti-concorsi-card .tileTitle .title-bando:before, .contenuti-concorsi-card .contenuti-concorsi-card-head .title-bando:before, .contenuti-concorsi-card-home .tileTitle .title-bando:before, .contenuti-concorsi-card-home .contenuti-concorsi-card-head .title-bando:before {
    background-image: url("/reclutamento/++resource++ico-bando.png");
    width: 25px;
    height: 28px;
  }
  .contenuti-concorsi-card .tileTitle .title-commissione:before, .contenuti-concorsi-card .contenuti-concorsi-card-head .title-commissione:before, .contenuti-concorsi-card-home .tileTitle .title-commissione:before, .contenuti-concorsi-card-home .contenuti-concorsi-card-head .title-commissione:before {
    background-image: url("/reclutamento/++resource++ico-commissione.png");
    width: 29px;
    height: 26px;
  }
  .contenuti-concorsi-card .tileTitle .title-prove:before, .contenuti-concorsi-card .contenuti-concorsi-card-head .title-prove:before, .contenuti-concorsi-card-home .tileTitle .title-prove:before, .contenuti-concorsi-card-home .contenuti-concorsi-card-head .title-prove:before {
    background-image: url("/reclutamento/++resource++ico-prove.png");
    width: 29px;
    height: 25px;
  }
  .contenuti-concorsi-card .tileTitle .title-approvazione:before, .contenuti-concorsi-card .contenuti-concorsi-card-head .title-approvazione:before, .contenuti-concorsi-card-home .tileTitle .title-approvazione:before, .contenuti-concorsi-card-home .contenuti-concorsi-card-head .title-approvazione:before {
    background-image: url("/reclutamento/++resource++ico-approvazione.png");
    width: 26px;
    height: 25px;
  }
  .contenuti-concorsi-card .tileTitle .title-partecipa:before, .contenuti-concorsi-card .contenuti-concorsi-card-head .title-partecipa:before, .contenuti-concorsi-card-home .tileTitle .title-partecipa:before, .contenuti-concorsi-card-home .contenuti-concorsi-card-head .title-partecipa:before {
    background-image: url("/reclutamento/++resource++ico-partecipa.png");
    width: 30px;
    height: 29px;
  }
}

@media screen and (min-width: 1000px) {
  .contenuti-concorsi-card .tileTitle .ico-box-concorso:before, .contenuti-concorsi-card .contenuti-concorsi-card-head .ico-box-concorso:before, .contenuti-concorsi-card-home .tileTitle .ico-box-concorso:before, .contenuti-concorsi-card-home .contenuti-concorsi-card-head .ico-box-concorso:before {
    display: inline-block;
    content: "";
    margin-right: 5px;
  }
  .contenuti-concorsi-card .tileTitle .ico-bando:before, .contenuti-concorsi-card .contenuti-concorsi-card-head .ico-bando:before, .contenuti-concorsi-card-home .tileTitle .ico-bando:before, .contenuti-concorsi-card-home .contenuti-concorsi-card-head .ico-bando:before {
    background-image: url("/reclutamento/++resource++ico-bando.png");
    width: 25px;
    height: 28px;
  }
  .contenuti-concorsi-card .tileTitle .ico-commissione:before, .contenuti-concorsi-card .contenuti-concorsi-card-head .ico-commissione:before, .contenuti-concorsi-card-home .tileTitle .ico-commissione:before, .contenuti-concorsi-card-home .contenuti-concorsi-card-head .ico-commissione:before {
    background-image: url("/reclutamento/++resource++ico-commissione.png");
    width: 29px;
    height: 26px;
  }
  .contenuti-concorsi-card .tileTitle .ico-prove:before, .contenuti-concorsi-card .contenuti-concorsi-card-head .ico-prove:before, .contenuti-concorsi-card-home .tileTitle .ico-prove:before, .contenuti-concorsi-card-home .contenuti-concorsi-card-head .ico-prove:before {
    background-image: url("/reclutamento/++resource++ico-prove.png");
    width: 29px;
    height: 25px;
    margin-top: 3px;
  }
  .contenuti-concorsi-card .tileTitle .ico-approvazione:before, .contenuti-concorsi-card .contenuti-concorsi-card-head .ico-approvazione:before, .contenuti-concorsi-card-home .tileTitle .ico-approvazione:before, .contenuti-concorsi-card-home .contenuti-concorsi-card-head .ico-approvazione:before {
    background-image: url("/reclutamento/++resource++ico-approvazione.png");
    width: 26px;
    height: 25px;
    margin-top: 4px;
  }
  .contenuti-concorsi-card .tileTitle .ico-partecipa:before, .contenuti-concorsi-card .contenuti-concorsi-card-head .ico-partecipa:before, .contenuti-concorsi-card-home .tileTitle .ico-partecipa:before, .contenuti-concorsi-card-home .contenuti-concorsi-card-head .ico-partecipa:before {
    background-image: url("/reclutamento/++resource++ico-partecipa.png");
    width: 30px;
    height: 29px;
  }
  .contenuti-concorsi-card .tileTitle .title-box-concorso:before, .contenuti-concorsi-card .contenuti-concorsi-card-head .title-box-concorso:before, .contenuti-concorsi-card-home .tileTitle .title-box-concorso:before, .contenuti-concorsi-card-home .contenuti-concorsi-card-head .title-box-concorso:before {
    content: none !important;
  }
}

.contenuti-concorsi-card .tileTitle, .contenuti-concorsi-card-home .tileTitle {
  font-size: 18px;
}

.contenuti-concorsi-card .tileTitle a, .contenuti-concorsi-card-home .tileTitle a {
  color: white;
  text-decoration: underline;
}

.contenuti-concorsi-card .tileBody, .contenuti-concorsi-card .contenuti-concorsi-card-body, .contenuti-concorsi-card-home .tileBody, .contenuti-concorsi-card-home .contenuti-concorsi-card-body {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .contenuti-concorsi-card .tileBody, .contenuti-concorsi-card .contenuti-concorsi-card-body, .contenuti-concorsi-card-home .tileBody, .contenuti-concorsi-card-home .contenuti-concorsi-card-body {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.contenuti-concorsi-card .tileBody, .contenuti-concorsi-card-home .tileBody {
  padding: 10px;
}

.contenuti-concorsi-card .col-md-1, .contenuti-concorsi-card-home .col-md-1 {
  width: 6%;
}

/* stessa classe usata anche nella vista report_concorsi */
.card-concorsi-bando-allegato {
  background-color: #F0F0F0;
  border-radius: 10px 10px 10px 10px;
  padding: 5px;
  margin-top: 5px;
  margin-left: -2px;
}

.card-concorsi-bando-allegato:before {
  background-image: url("/reclutamento/++resource++ico-pdf.png");
  display: inline-block;
  width: 25px;
  height: 24px;
  content: "";
  margin-right: 4px;
  vertical-align: -24%;
}

@media screen and (max-width: 990px) {
  .simple-card-concorsi {
    padding: 0px !important;
    margin: -10px !important;
  }
}

.simple-card-concorsi-default {
  border: 1px solid transparent;
  border-color: #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

.simple-card-concorsi-default .simple-card-concorsi-heading {
  background-color: #f5f5f5;
  padding: 10px 15px;
}

@media screen and (max-width: 990px) {
  .simple-card-concorsi-default .simple-card-concorsi-heading {
    padding: 7px;
  }
}

.simple-card-concorsi-default .simple-card-concorsi-heading .simple-card-concorsi-title {
  font-weight: bold;
}

.simple-card-concorsi-default .simple-card-concorsi-body {
  /* background-color: #ffffe3; */
  padding: 15px;
}

@media screen and (max-width: 990px) {
  .simple-card-concorsi-default .simple-card-concorsi-body {
    padding: 7px;
  }
}

.simple-card-concorsi-default .simple-card-concorsi-body .detail-row {
  margin: 0px;
}

.simple-card-concorsi-default .simple-card-concorsi-body .detail-row .detail-label {
  padding: 1em;
  color: #1c2024;
  background: #FFFFFF;
  font-weight: 700;
  text-align: right;
  vertical-align: middle;
  margin-bottom: 0px;
  border: 0px;
}

@media screen and (max-width: 767px) {
  .simple-card-concorsi-default .simple-card-concorsi-body .detail-row .detail-label {
    padding: 0em;
    text-align: left;
  }
}

.simple-card-concorsi-default .simple-card-concorsi-body .detail-row .detail-value {
  padding: 1em;
  margin-bottom: 0px;
  border: 0px;
  border-left: 1px solid #1c2024;
}

@media screen and (max-width: 767px) {
  .simple-card-concorsi-default .simple-card-concorsi-body .detail-row .detail-value {
    padding: 0em;
    border: 0px !important;
    margin-bottom: 1em;
  }
}

.inizioriga-discreet:before {
  content: "\00BB";
}

@media screen and (max-width: 991px) {
  .report-concorsi br {
    display: none;
  }
  .report-concorsi a {
    margin-right: 10px !important;
  }
}

.report-concorsi .report-concorsi-body {
  cursor: pointer;
}

.report-concorsi:hover {
  background-color: #eee;
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-concorso:after {
  content: url("/reclutamento/++resource++ico-concorso.png") !important;
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-concorso:before {
  content: none !important;
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-concorsoassricerca:after {
  content: url("/reclutamento/++resource++ico-concorso-a.png") !important;
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-concorsoassricerca:before {
  content: none !important;
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-concorsoricercatore:after {
  content: url("/reclutamento/++resource++ico-concorso-d.png") !important;
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-concorsoricercatore:before {
  content: none !important;
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-nota:after {
  content: '\e80e' !important;
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-nota:before {
  content: none;
}

body#visual-portal-wrapper .contenttype-concorso:before {
  content: url("/reclutamento/++resource++ico-concorso.png") !important;
}

body#visual-portal-wrapper .contenttype-concorsoassricerca:before {
  content: url("/reclutamento/++resource++ico-concorso-a.png") !important;
}

body#visual-portal-wrapper .contenttype-concorsoricercatore:before {
  content: url("/reclutamento/++resource++ico-concorso-d.png") !important;
}

body#visual-portal-wrapper .contenttype-nota:before {
  content: '\e80e';
}

/*# sourceMappingURL=concorsi_style.css.map */